<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поліграф Benedix</title>
    <link rel="shortcut icon" href="img/global/logo.jpg" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main>
        <section id="welcom">
            <nav
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="global.block-welcom.partial.html"
            ></nav>
        </section>
        <section id="about-us">
            <nav
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="global.block-about-us.partial.html"
            ></nav>
        </section>
        <section id="types-of-services">
            <nav
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="global.block-types-of-services.partial.html"
            ></nav>
        </section>
        <section id="polygraph-rubicon">
            <nav
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="global.block-polygraph-rubicon.partial.html"
            ></nav>
        </section>  
    </main>
</body>
</html>