
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');


/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100dvh;
  background: var(--color-bg);
  color: var(--color-text);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}
