.nav {
  display: flex;
  justify-content: center;  /* усі діти по центру */
  align-items: center;
  justify-content: space-between;
  background-color: #000;     /* чорний фон */
  padding-block: 12px;
}

/* Лого як блок (щоб GIF не давав «провисань») */
.nav__logo a { display: inline-block; }

/* Меню-список — в ряд */
.nav__list {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Посилання білі, з ховером */
.nav__link {
  color: #fefca2;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
}
